<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Тех. задание курс Веб и DHTML</title>
    <link rel="stylesheet" href="./index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <header class="header box">
      <h1 class="heading accent-color no-margin">контур.экстерн</h1>
    </header>
    <main class="page">
      <div class="vertical-margin">
        <span class="title no-margin">Управление платежами</span>
      </div>
      <div id="app" class="box top-line">
        <input class="trigger trigger--action-pay" type="radio" name="action" id="pay" checked>
        <input class="trigger trigger--action-request" type="radio" name="action" id="request">
        <div class="box__block box__block--gray">
          <div class="flex flex-wrap flex-center">
            <div class="flex__column flex-max">
              <h2 class="heading no-margin">ИП Иванов Иван Иванович</h2>
              <div class="flex flex-wrap vertical-margin">
                <p class="contact">+78005553535</p>
                <a class="contact link" href="#">www.ivan.ivanov.ru</a>
                <a class="contact link" href="#">i.ivanov@kontur.ru</a>
              </div>
              <div class="contacts__info vertical-margin">
                <a class="link" href="#">Информация о компании</a>
              </div>
              <div class="contacts__bank vertical-margin">
                <input class="button button--white" type="button" value="Показать реквизиты">
              </div>
            </div>
            <div class="flex__column">
              <img class="user-icon" src="img/user.svg" title="UserIcon" alt="UserIcon">
            </div>
          </div>
          <div class="block__bottom-tabs flex">
            <label class="tab tab--action-pay" for="pay">
              <span class="title">Заплатить</span>
            </label>
            <label class="tab tab--action-request" for="request">
              <span class="title">Запросить&nbsp;платёж</span>
            </label>
          </div>
        </div>
        <input class="trigger trigger--nds-18" type="radio" name="nds" id="nds-18">
        <input class="trigger trigger--nds-10" type="radio" name="nds" id="nds-10">
        <input class="trigger trigger--nds-0" type="radio" name="nds" id="nds-0" checked>
        <div class="box__block box__block--white">
          <div class="tab-content tab-content--action-pay hide">
            <input class="trigger trigger--payment-any" type="radio" name="payment" id="any" checked>
            <input class="trigger trigger--payment-own" type="radio" name="payment" id="own">
            <div class="block__tabs flex">
              <label class="tab tab--payment-any" for="any">
                <span class="title">С&nbsp;карты любого банка</span>
              </label>
              <label class="tab tab--payment-own" for="own">
                <span class="title">Из&nbsp;своего интернет&#8209;банка</span>
              </label>
            </div>
            <div class="tab-content tab-content--payment-any hide">
              <form class="form card-form flex vertical-margin" v-on:submit="send('paymentAny', $event)">
                <div class="card-form__card">
                  <field
                    v-model="paymentAny.cardNumber"
                    field-classes="field--inline"
                    :classes="['input--17', 'input--center']"
                    :format="x => x.digits(16).cardFormat()"
                    :regex="/^\d{4}( \d{4}){3}$/"
                    placeholder="Номер карты"
                  >
                  </field>
                  <field
                    v-model="paymentAny.cardDate"
                    field-classes="field--inline"
                    :regex="/^(0\d|1[0-2])\/(1[7-9]|2\d|3[0-5])$/"
                    :format="x => x.digits(4).dateFormat()"
                    placeholder="ММ/ГГ"
                    classes="input--3"
                  ></field>
                  <field
                    v-model="paymentAny.cardCvc"
                    field-classes="field--inline"
                    :format="x => x.digits(3)"
                    :regex="/^\d{3}$/"
                    placeholder="CVC"
                    classes="input--3"
                  ></field>
                </div>
                <div class="flex-max">
                  <field
                    v-model="paymentAny.sum"
                    :regex="/^(\d{4}|[0-6]\d{4}|7[0-4]\d{3}|75000)$/"
                    :format="x => x.digits(5)"
                    placeholder="10 К &ndash; 75 К"
                    classes="input--5"
                    label="Сумма платежа"
                    after="руб."
                  ></field>
                  <field
                    v-model="paymentAny.comment"
                    :regex="/.*/"
                    :format="x => x.substr(0, 150)"
                    placeholder="До 150 символов"
                    classes="input--full"
                    label="Комментарий"
                  ></field>
                  <field
                    v-model="paymentAny.email"
                    :regex="/.+@.+\..+/"
                    placeholder="Для квитанций об уплате"
                    classes="input--full"
                    label="Электронная почта"
                  ></field>
                  <input class="button button--accent" type="submit" :disabled="!paymentAnyIsValid" value="Заплатить">
                  <input class="button button--white" type="button" value="Очистить форму">
                </div>
              </form>
            </div>
            <div class="tab-content tab-content--payment-own hide">
              <p>Сформируйте платёжку и загрузите её в свой банк для подписи</p>
              <form class="form"  v-on:submit="send('paymentOwn', paymentOwn)">
                <div class="flex-max">
                  <field
                    v-model="paymentOwn.inn"
                    :regex="/.+/"
                    placeholder="ИНН или название плательщика"
                    classes="input--full"
                    label="ИНН плательщика"
                  ></field>
                  <field
                    v-model="paymentOwn.bik"
                    :regex="/^\d{9}$/"
                    :format="x => x.digits(9)"
                    placeholder="Банковский Идентификационный Код"
                    classes="input--full"
                    label="БИК"
                  ></field>
                  <field
                    v-model="paymentOwn.bankNumber"
                    :regex="/^\d{20}$/"
                    :format="x => x.digits(20)"
                    classes="input--full"
                    label="Номер счёта"
                  ></field>
                  <field
                    v-model="paymentOwn.purpose"
                    :regex="/.*/"
                    classes="input--full"
                    label="Назначение платежа"
                  ></field>
                  <span class="field">
                    <span class="field__label">НДС</span>
                    <span class="switch">
                      <label for="nds-18" class="button button--white nds-18">НДС 18%</label>
                      <label for="nds-10" class="button button--white nds-10">НДС 10%</label>
                      <label for="nds-0" class="button button--white nds-0">Без НДС</label>
                    </span>
                  </span>
                  <field
                    v-model="paymentOwn.sum"
                    :regex="/^([0-6]\d{4}|7[0-4]\d{3}|75000)$/"
                    :format="x => x.digits(5)"
                    placeholder="10 К &ndash; 75 К"
                    classes="input--5"
                    label="Сумма платежа"
                    after="руб."
                  ></field>
                </div>
                <div class="padding">
                  <input class="button button--accent" type="submit" :disabled="!paymentOwnIsValid" value="Получить файл для интернет-банка">
                  <input class="button button--white" type="button" value="Очистить форму">
                </div>
              </form>
            </div>
          </div>
          <div class="tab-content tab-content--action-request hide">
            <p class="no-margin vertical-margin">Создайте платёжку, а ИП Иванов Иван Иванович подпишет её у себя в интернет-банке</p>
            <form class="form"  v-on:submit="send('request', request)">
              <div class="flex-max">
                  <field
                  v-model="request.inn"
                  :regex="/.+/"
                  placeholder="ИНН или название получателя"
                  classes="input--full"
                  label="ИНН получателя"
                ></field>
                <field
                  v-model="request.bik"
                  :regex="/^\d{9}$/"
                  :format="x => x.digits(9)"
                  placeholder="Банковский Идентификационный Код"
                  classes="input--full"
                  label="БИК"
                ></field>
                <field
                  v-model="request.bankNumber"
                  :regex="/^\d{20}$/"
                  :format="x => x.digits(20)"
                  classes="input--full"
                  label="Номер счёта"
                ></field>
                <field
                  v-model="request.purpose"
                  :regex="/.*/"
                  classes="input--full"
                  label="Назначение платежа"
                ></field>
                <span class="field">
                  <span class="field__label">НДС</span>
                  <span class="switch">
                    <label for="nds-18" class="button button--white nds-18">НДС 18%</label>
                    <label for="nds-10" class="button button--white nds-10">НДС 10%</label>
                    <label for="nds-0" class="button button--white nds-0">Без НДС</label>
                  </span>
                </span>
                <field
                  v-model="request.sum"
                  :regex="/^([0-6]\d{4}|7[0-4]\d{3}|75000)$/"
                  :format="x => x.digits(5)"
                  placeholder="10 К &ndash; 75 К"
                  classes="input--5"
                  label="Сумма платежа"
                  after="руб."
                ></field>
                <field
                  v-model="request.phoneNumber"
                  :regex="/^\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}$/"
                  :format="x => x.digits(11).phoneFormat()"
                  placeholder="+7 (___) ___-__-__"
                  classes="input--9"
                  label="Номер телефона"
                ></field>
                <span class="capture">Оставляя номер телефона, вы соглашаетесь на </span>
                <a class="capture link" href="#">обработку персональных данных</a>
                <field
                  v-model="request.email"
                  :regex="/.+@.+\..+/"
                  placeholder="Для квитанций об уплате"
                  classes="input--full"
                  label="Электронная почта"
                ></field>
              </div>
              <div class="padding">
                <input class="button button--accent" type="submit" :disabled="!requestIsValid" value="Запросить платёж">
                <input class="button button--white" type="button" value="Очистить форму">
              </div>
            </form>
          </div>
        </div>
        <div class="box__block box__block--gray">
          <h2 class="heading no-margin">Информация о компании</h2>
          <div class="items flex flex-wrap">
            <div class="item">
              <img class="item__logo" src="img/focus.svg" alt="logo" title="logo">
              <span class="title">Фокус</span>
            </div>
            <div class="item">
              <img class="item__logo" src="img/elba.svg" alt="logo" title="logo">
              <span class="title">Эльба</span>
            </div>
            <div class="item">
              <img class="item__logo" src="img/extern.svg" alt="logo" title="logo">
              <span class="title">Экстерн</span>
            </div>
            <div class="item">
              <img class="item__logo" src="img/otchet.svg" alt="logo" title="logo">
              <span class="title">Отчет.ру</span>
            </div>
          </div>
          <p>
            СКБ Контур — один из первых разработчиков программного обеспечения в России.
          </p>
          <p>
            С 1988 года компания помогает руководителям и бухгалтерам легче взаимодействовать с государством и контрагентами, упрощать внутренние процессы и быстрее справляться с ежедневными задачами.
          </p>
        </div>
      </div>
      <template id="field">
        <label :class="['field', this.fieldClasses]">
          <span v-if="label" class="field__label">{{ label }}</span>
          <input 
            :class="['input', this.classes, {invalid: !this.isValid}]"
            :placeholder="this.placeholder"
            v-model="content.value"
            type="text"
          />
          <span v-if="after">{{ after }}</span>
        </label>
      </template>
      <script src="index.js"></script>
      <footer class="footer">
        <a class="contact link" href="https://vk.com/creewick">ВКонтакте</a>
        <a class="contact link" href="https://t.me/creewick">Телеграм</a>
        <a class="contact link" href="https://github.com/creewick">GitHub</a>
        <a class="contact link" href="https://creewick.github.io">Сайт</a>
      </footer>
    </main>
  </body>
</html>