body {
    margin: 0;
    font: 18px 'Segoe UI';
    background-color: #e5e5e5;
}

.header {
    position: sticky;
    z-index: 100;
    top: 0;

    padding: 0 30px;
    height: 48px;

    color: #F69C00;
}

.capture {
    font-size: 14px;
    position: relative;
    top: -10px;
}

.bg-gray {
    background-color: #f2f2f2;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.heading {
    font: 32px 'Segoe UI Light';
    line-height: 38px;
    margin: 0;
}

.link {
    text-decoration: none;
    color: #D97E00;
}

.page {
    max-width: 900px;
    margin: auto;
}

.box {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
    background-color: #fff;
}

.page__top-line {
    border-top: 6px solid #F69C00;
}

.box__container {
    box-shadow: inset 0 5px 3px -3px rgba(0,0,0,.25);
    padding: 30px;
}

.box__first-container {
    box-shadow: none;
}

.box__block {
    padding: 15px 0;
}

.box__client-info__contacts,
.box__form__fields {
    flex: 1;
}

.box__client-info__user-icon {
    margin-left: auto;
    min-width: 160px;
    width: 160px;
    height: 160px;
}

.box__bottom-tabs {
    position: relative;
    top: 30px;
    display: flex;
}

.box__tabs,
.box__card-form,
.box__client-info {
    display: flex;
}

.box__form,
.box__card-form {
    padding: 30px 0 0;
}

.box__tab {
    margin-right: 30px;
    padding-bottom: 10px;
}

.box__tab:hover {
    color: #D97E00;
    cursor: pointer;
}

.box__action-pay,
.box__action-request,
.box__payment-any,
.box__payment-own {
    display: none;
}

.box__form__card {
    margin-right: 30px;
    padding: 110px 5px 5px;
    border-radius: 5px;
    width: 300px;
    background-color: #e5e5e5;
}

.trigger__action-pay:checked ~ .box__container .action-pay,
.trigger__action-request:checked ~ .box__container .action-request,
.trigger__payment-any:checked ~ .box__tabs .payment-any,
.trigger__payment-own:checked ~ .box__tabs .payment-own {
    border-bottom: 3px solid #F69C00;
    color: #D97E00;
    cursor: default;
}

.trigger__action-pay:checked ~ .box__action-pay,
.trigger__action-request:checked ~ .box__action-request,
.trigger__payment-any:checked ~ .box__payment-any,
.trigger__payment-own:checked ~ .box__payment-own {
    display: block;
}

.contacts__line,
.items {
    flex-wrap: wrap;
    display: flex;
}

.contact {
    margin: 0 30px 0 0;
}

.button {
    height: 32px;
    padding: 0 15px;

    vertical-align: bottom;
    font: 14px 'Segoe UI';
    line-height: 32px;

    border: none;
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .15);
}

.switch {
    display: inline-flex;
    padding-left: 2px;
}

.input-text {
    margin: 1px;
    padding: 6px 9px;

    height: 20px;
    min-width: 244px;

    font: 16px 'Segoe UI Light';

    border: 1px solid #e5e5e5;
    border-radius: 1px;
    box-shadow: inset 0 1px 4px -2px rgba(0,0,0,.25);

    outline: none;
}

.input-text:focus {
    margin: 0;
    border: 2px solid #F69C00;
}

.input-date,
.input-code {
    min-width: auto;
    width: 3em;
}

.input-sum {
    min-width: auto;
    width: 7em;
}

.card-form__input-comment,
.card-form__input-email {
    width: calc(100% - 13em);
}

.white-button {
    background-image: linear-gradient(#fff, #ebebeb);
}

.accent-button {
    background-image: linear-gradient(#F69C00, #D97E00);
    color: #fff;
}

.button:hover,
.trigger__nds-18:checked ~ .box__container .nds-18,
.trigger__nds-10:checked ~ .box__container .nds-10,
.trigger__nds-0:checked ~ .box__container .nds-0 {
    filter: brightness(90%);
}

.button:hover:active,
.trigger__nds-18:checked ~ .box__container .nds-18,
.trigger__nds-10:checked ~ .box__container .nds-10,
.trigger__nds-0:checked ~ .box__container .nds-0 {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15),
                0 0 0 1px rgba(0, 0, 0, .15),
          inset 0 5px 10px -5px rgba(0,0,0, .5);
}

.trigger {
    display: none;
}

.form__field {
    margin-bottom: 15px;
    display: block;
}

.card-form__field__text {
    display: inline-block;
    width: 10em;
}

.form__field__text {
    display: inline-block;
    width: 11em;
}

.items {
    position: relative;
    margin-bottom: 60px;
    left: -15px;
    top: 30px;

    width: calc(100% + 30px);
}

.item {
    width: calc(25% - 30px);
    min-width: 100px;
    text-align: center;
    margin: 15px;
}

.item__logo {
    width: 100%;
}

.footer {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 868px) {
    .box__card-form {
        flex-direction: column;
    }

    .box__form__card {
        margin-bottom: 30px;
    }
    
    .item {
        width: calc(50% - 30px);
    }
}

@media only screen and (max-width: 546px) {
    .form__field__text,
    .card-form__field__text {
        display: block;
    }

    .item {
        width: calc(100% - 30px);
    }
}
