body {
    margin: 0;
    font: 18px 'Segoe UI';
    background-color: #e5e5e5;

    min-width: 380px;
}

/* ОСНОВНЫЕ */

.header {
    position: sticky;
    z-index: 100;
    top: 0;

    padding: 0 30px;
    height: 48px;
}

.page {
    max-width: 900px;
    margin: auto;
}

.box {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
    background-color: #fff;
}

/* BLOCK */

.box__block {
    padding: 30px;
}

.box__block--white {
    box-shadow: inset 0 5px 5px -3px rgba(0,0,0,.25),
                inset 0 -5px 5px -3px rgba(0,0,0,.25);
    background-color: #fff;
}

.box__block--gray {
    background-color: #f2f2f2;
}

.block__bottom-tabs {
    position: relative;
    top: 30px;
}

/* CONTACTS */

.contact {
    margin: 0 30px 0 0;
}

.user-icon {
    margin-left: auto;
    min-width: 160px;
    width: 160px;
    height: 160px;
}

/* TABS */

.tab {
    margin-right: 30px;
    padding-bottom: 10px;
}

.tab:hover {
    color: #D97E00;
    cursor: pointer;
}

/* МИКСЫ */

.vertical-margin {
    margin: 15px 0;
}

.top-line {
    border-top: 6px solid #F69C00;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-max {
    flex: 1;
}

.flex-center {
    justify-content: center;
}

.hide {
    display: none;
}

/* ТЕКСТ */

.heading {
    font: 30px 'Segoe UI Light';
}

.no-margin {
    margin: 0;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.accent-color {
    color: #F69C00;
}

.link {
    text-decoration: none;
    color: #D97E00;
}

.capture {
    font-size: 14px;
    position: relative;
    top: -10px;
}

/* FORM */

.form {
    margin: 30px 0;
}

.card-form__card {
    margin-right: 30px;
    padding: 110px 5px 5px;
    border-radius: 5px;
    width: 300px;
    background-color: #e5e5e5;
}

.field {
    margin-bottom: 15px;
    display: block;
}

.field__label {
    display: inline-block;
    width: 10em;
}

/* ACTIONS */

.trigger--action-pay:checked ~ .box__block .tab--action-pay,
.trigger--action-request:checked ~ .box__block .tab--action-request,
.trigger--payment-any:checked ~ .block__tabs .tab--payment-any,
.trigger--payment-own:checked ~ .block__tabs .tab--payment-own {
    border-bottom: 3px solid #F69C00;
    color: #D97E00;
    cursor: default;
}

.trigger--action-pay:checked ~ .box__block .tab-content--action-pay,
.trigger--action-request:checked ~ .box__block .tab-content--action-request,
.trigger--payment-any:checked ~ .tab-content--payment-any,
.trigger--payment-own:checked ~ .tab-content--payment-own {
    display: block;
}

.button:hover:not(:disabled),
.trigger--nds-18:checked ~ .box__block .nds-18,
.trigger--nds-10:checked ~ .box__block .nds-10,
.trigger--nds-0:checked ~ .box__block .nds-0 {
    filter: brightness(90%);
}

.button:hover:active:not(:disabled),
.trigger--nds-18:checked ~ .box__block .nds-18,
.trigger--nds-10:checked ~ .box__block .nds-10,
.trigger--nds-0:checked ~ .box__block .nds-0 {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15),
                0 0 0 1px rgba(0, 0, 0, .15),
          inset 0 5px 10px -5px rgba(0,0,0, .5);
}

/* CUSTOM COMPONENTS */

.button {
    height: 32px;
    padding: 0 15px;

    vertical-align: bottom;
    font: 14px 'Segoe UI';
    line-height: 32px;

    border: none;
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15),
                0 0 0 1px rgba(0, 0, 0, .15);
}

.button--white:not(:disabled) {
    background-image: linear-gradient(#fff, #ebebeb);
}

.button--accent:not(:disabled) {
    background-image: linear-gradient(#F69C00, #D97E00);
    color: #fff;
}

.switch {
    display: inline-flex;
    padding-left: 2px;
}

.input {
    margin: 1px;
    padding: 6px 9px;
    height: 20px;

    font: 16px 'Segoe UI Light';

    border: 1px solid #e5e5e5;
    border-radius: 1px;
    box-shadow: inset 0 1px 4px -2px rgba(0,0,0,.25);

    outline: none;
}

.input:focus {
    margin: 0;
    border: 2px solid #F69C00;
}

.invalid {
    margin: 0;
    border: 2px solid #EE1722;
    background-color: #FFD7D7;
}

.input--3 {
    width: 3em;
}

.input--5 {
    width: 5em;
}

.input--9 {
    width: 9em;
}

.input--17 {
    width: 17em;
}

.input--center {
    text-align: center;
    letter-spacing: .4em;
}

.input--full {
    width: calc(100% - 13em);
}

.field--inline {
    display: inline;
}

.trigger {
    display: none;
}

/* FOOTER */

.footer {
    padding: 15px 0;
    justify-content: center;
}

.items {
    position: relative;
    margin-bottom: 60px;
    left: -15px;
    top: 30px;

    width: calc(100% + 30px);
}

.item {
    width: calc(25% - 30px);
    min-width: 100px;
    text-align: center;
    margin: 15px;
}

.item__logo {
    width: 100%;
}

/* MOBILE */

@media only screen and (max-width: 774px) {
    .card-form {
        flex-direction: column;
    }

    .card-form__card {
        margin-bottom: 30px;
    }
    
    .item {
        width: calc(50% - 30px);
    }
}

@media only screen and (max-width: 546px) {
    .field__label {
        display: block;
    }

    .input--7,
    .input--9,
    .input--full {
        width: calc(100% - 20px);
    }

    .item {
        width: calc(100% - 30px);
    }

    .user-icon {
        margin: 0 auto;
    }
}
